<html>
    <head>
        <title>Foodies</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1><a href="/">Foodies</a></h1>
        </div>

        <div>
            <h2><a href="">Bauernbrot - knusprig und lecker</a></h2>
            <p></p>
            <p>published: 16.06.2020, 13:15</p>
        </div>

        <div>

            <h2><a href="">Hallo Zusammen!</a></h2>
            <p>Hallo an alle Foodies! Ich heiße Julian und bin 39 Jahre alt, bin verheiratet und habe zwei Kinder. Ich arbeite als Projektmanagerfür in einem gemeinnützigen Verein, der sich für Demokratie einsetzt.
                Ich backe sehr gerne, am liebsten Brot. Diesen Blog habe ich erstellt, um meine Rezepte und Videos zum Thema backen für mich und andere zu sammeln.</p>
            <p>published: 16.06.2020, 13:00</p>
        </div>
    </body>
</html>