h1 a, h2 a {
    color: #9ACD32;
}
.page-header {
    background-color: #CD853F;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFEFD5;
    font-size: 40pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    font-size: 1.2em;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #6B8E23
}

h2, h3, h4 {
    font-family: Blippo, fantasy;
  font-style: italic;
    color: #6B8E23
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #6B8E23;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
